<div id="mapContent">
  <ul *ngFor="let line of map" class="lineSquare">
    <app-square *ngFor="let col of line;" [square]="col" (renderComponent)="handleChildRenderSquareComponent($event)"
      [parentSubject]="squareSubject" [gameService]="gameService" [mapService]="mapService">
    </app-square>
  </ul>
</div>
