ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

ul.lineSquare {
    border-left: 10px solid #2d2d2d;
}

ul.lineSquare app-square {
    display: inline-block;
    vertical-align: top;
}

ul.lineSquare app-square:last-child {
    border-right: 10px solid #2d2d2d;
    overflow: hidden;
}

ul.lineSquare:first-child app-square {
    border-top: 10px solid #2d2d2d;
}

ul.lineSquare:last-child app-square {
    border-bottom: 10px solid #2d2d2d;
}

#mapContent {
  min-width: 900px;
}
