div.state-user {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0px;
}

div.state-user > div {
    background-color: #2d2d2d;
    height: 150px;
    padding-top: 12px;
    margin-right: 10px;
    max-width: 180px;
}

div.state-user > div p {
    color: white;
    font-family: 'Calibri';
}

div.state-user > div p.state-title {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
}

div.state-user > div p.state-value {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

div.state-user > div p.state-icon {
    text-align: center;
    margin: 0;
}

div.state-user > div span.icon {
    font-size: 64px;
    color: white;
}

div#content-map .message-game {
    padding: 20px;
    background-color: #2d2d2d;
    margin-top: 20px;
    position: relative;
}

div#content-map .message-game span.icon {
    color: white;
    font-size: 64px;
    position: absolute;
    left: 16%;
    top: 13px;
}

div#content-map .message-game p {
    text-align: center;
    color:white;
    font-size: 16px;
}
