<div class="container">
    <div class="row state-user">
      <div class="col s3 health">
          <p class="state-title">Health</p>
          <p class="state-value">{{gameService.game.health}}</p>
          <p class="state-icon"><span class="icon fa fa-heartbeat"></span></p>
      </div>
      <div class="col s3">
          <p class="state-title">Money</p>
          <p class="state-value">{{gameService.game.money}}</p>
          <p class="state-icon"><span class="icon fa fa-money"></span></p>
      </div>
      <div class="col s3">
          <p class="state-title">Waves</p>
          <p class="state-value">{{gameService.game.wave}}</p>
          <p class="state-icon"><span class="icon fa fa-info-circle"></span></p>
      </div>
      <div class="col s2">
          <div *ngIf="gameService.game.timerWait > 0">
              <p class="state-title">Wait</p>
              <p class="state-value">{{gameService.game.timerWait}} sec</p>
              <p class="state-icon"><span class="icon fa fa-pause"></span></p>
          </div>
          <div *ngIf="gameService.game.timerWait === 0">
              <p class="state-title">Stop</p>
              <p class="state-value">&nbsp;</p>
              <p class="state-icon"><span class="icon fa fa-play"></span></p>
          </div>
      </div>
    </div>
</div>
<div id="content-map" class="container">
    <app-map [gameService]="gameService" [parentSubject]="mapSubject" (notifyParent)="handleChildMap($event)"
        *ngIf="gameService.game.health > 0 && !successGame">
    </app-map>
    <div *ngIf="gameService.game.health === 0 && !successGame" class="game-over message-game">
      <span class="icon fa fa-thumbs-o-down"></span>
      <p>Vous êtes mort ! La vengeance est un plat qui se mange froid !</p>
    </div>
    <div *ngIf="successGame" class="game-success message-game">
      <span class="icon fa fa-thumbs-o-up"></span>
      <p>Vous avez gagné ! Félicitation !</p>
    </div>
</div>
