<li class="square {{square.type}} {{square.style}}" (click)="initCharacter()">
  <app-character *ngIf="character !== null" (click)="addCharacter()" [character]="character" [square]="square"
    [parentSubject]="characterSubject" (notifyParent)="handleCharacterComponent($event)"></app-character>
  <ul class="square-monster" *ngIf="listMonster.length > 0">
    <li *ngFor="let monster of listMonster" >
      <app-monster [monster]="monster" (notifyParent)="handleMonsterComponent($event)"
        [parentSubject]="monsterSubject">
      </app-monster>
    </li>
  </ul>
  <!-- fire monster -->
  <ul class="fire-monster" *ngIf="listFire.length > 0">
    <li *ngFor="let fire of listFire">
      <div></div>
    </li>
  </ul>
</li>
