li.square {
  font-size: 0;
  width: 80px;
  height: 80px;
  display: inline-block;
  /*border: 1px solid #b2b2b2;*/
  padding: 6px;
  position: relative;
}


li.square.stone {
  background-color: #b2b2b2;
}

li.square.path {
  background-color: green;
}

li.square.begin {
  background-color: blue;
}

li.square.end {
  background-color: red;
}

ul.fire-monster li div {
  position: absolute;
  background: url("./fire.png") left top no-repeat;
  /*background-size: 50px 50px;*/
  z-index: 200;
  width:96px;
  height:96px;
  animation: play 0.8s steps(10);
}

@keyframes play {
   100% { background-position: -960px 0px; }
}

.texture{
	background: url("./textures.png") no-repeat;
}

.grass-1{
	background-position: 0 0;
	width: 80px;
	height: 80px;
}

.grass-2{
	background-position: -80px 0;
	width: 80px;
	height: 80px;
}

.path-1{
	background-position: -160px 0;
	width: 80px;
	height: 80px;
}

.path-2{
	background-position: -240px 0;
	width: 80px;
	height: 80px;
}
