<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">{{title}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://localhost:4200/dashboard">Home</a></li>
        <li><a href="http://localhost:4200/">Sign in</a></li>
        <li><a href="http://localhost:4200/register">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-game></app-game>
