.character {
  width: 68px;
  height: 68px;
  background-image: url("./img/character.png");
}

.character.hidden {
  background: none;
}

.character-mini-1{
  background-position: 0 0;
}

.character-mini-2{
  background-position: 0 -68px;
}

.character-mini-3{
  background-position: 0 -136px;
}

.character-medium-1{
  background-position: -68px 0;
}

.character-medium-2{
  background-position: -68px -68px;
}

.character-medium-3{
  background-position: -68px -136px;
}

.character-big-1{
  background-position: -136px 0;
}

.character-big-2{
  background-position: -136px -68px;
}

.character-big-3{
  background-position: -136px -136px;
}

.character-mega-1{
  background-position: -204px 0;
}

.character-mega-2{
  background-position: -204px -68px;
}

.character-maga-3{
  background-position: -204px -136px;
}

.character-ultra-1{
  background-position: -282px 0;
}

.character-ultra-2{
  background-position: -282px -68px;
}

.character-ultra-3{
  background-position: -282px -136px;
}
