<div class="menu-character menu-character-{{visibility}}">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
      <span class="lines line-1"></span>
      <span class="lines line-2"></span>
      <span class="lines line-3"></span>
    </label>
    <a href="#" class="menu-item item-1"> <i class="fa fa-anchor"></i> </a>
    <a href="#" class="menu-item item-2"> <i class="fa fa-coffee"></i> </a>
    <a href="#" class="menu-item item-3"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item item-4"> <i class="fa fa-microphone"></i> </a>
    <a href="#" class="menu-item item-5"> <i class="fa fa-star"></i> </a>
    <a href="#" class="menu-item item-6"> <i class="fa fa-diamond"></i> </a>
</div>
